.idea
.serverless
/.env
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
.phpunit
.phpunit.result.cache
/phpunit.xml
/config/jwt/*.pem
/.phpcs-cache
/phpcs.xml
/.php_cs
/.php_cs.cache
/phpunit.xml
.phpunit.result.cache
